/Ans_query2.out
/Ans_query3_1.out
/Ans_query3_10.out
/Ans_query3_10_1.out
/Ans_query3_10_slow_3s.out
/Ans_query3_11.out
/Ans_query3_12.out
/Ans_query3_5.out
/Ans_query3_6.out
/Ans_query3_7.out
/Ans_query3_8.out
/Ans_query3_9.out
/Ans_query3_13.out
/Ans_query3_14.out
/Ans_query3_15.out
/Ans_query3_15_done.out
/Ans_query3_slow_2_3.841.out
/Ans_query3_slow_3.out
/Ans_query33.out
/Ans_query333.out
/Ans_query3_sm_1.out
/Ans_query3_sm_2_2.016.out
/Ans_query3_sm_3.out
/Ans_query3_sm_4.out
/BILL.txt
